.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 186, 97);
  height: 100vh;
}

.Main {
  width: 500px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
